apiVersion: v1
kind: Service
metadata:
  name: job-clean-architecture
  labels:
    app: job
spec:
  ports:
  - port: 8080
    targetPort: 8080
    name: http
  selector:
    app: job
  type: NodePort
