spring:
  security:
    basic:
      enabled: false
  h2:
    console:
      enabled: true
  datasource.url: jdbc:h2:mem:testdb;
  datasource.driverClassName: org.h2.Driver
  spring.datasource.username: sa
  datasource.password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
  cache:
    type: REDIS
  redis:
    host: localhost
    port: 6379
    password: redispass
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
  instance:
    instance-id: ${spring.application.name}:${random.int}
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/


server:
  port: 8085


